<div class="p-3">
  <div class="card">
    <div class="card-body">
      <h3>Products Component</h3>
      <div class="input-group my-2">
        <input class="form-control" type="text" [(ngModel)]="keyword">
        <button class="btn btn-outline-success" (click)="getProducts()"><i class="bi bi-search"></i></button>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Checked</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price | currency:'USD':true}}</td>
          <td>
            <button [class]="product.checked?'btn btn-outline-success':'btn btn-outline-danger'"
                    (click)="handleCheckProduct(product)">
              <i [class]="product.checked?'bi bi-check':'bi bi-x'"></i>
            </button>
          </td>
          <td>
            <button (click)="handleEdit(product)" class="btn btn-outline-success">
              <i class="bi bi-pencil-fill"></i>
            </button>
          </td>
          <td>
            <button (click)="handleDelete(product)" class="btn btn-outline-danger">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let page of [].constructor(this.totalPages); let i=index">
          <button (click)="handleGoToPage(i+1)" [class]="currentPage==(i+1)?'btn btn-primary me-1':'btn btn-outline-primary me-1'" >{{i+1}}</button>
        </li>
      </ul>
    </div>
  </div>
</div>
